*{margin: 0;padding: 0;box-sizing: border-box;}
.main{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}
.main h1{
  text-align: center;
  color: deeppink;
  font-size: 4em;
}
.add{
  width: 70%;
  padding: 10px 30px;
  border:none;
  color: blue;
  margin: 10px 0;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  margin-right: 10px;
}
.addbtn{
  padding: 10px 20px;
  font-size: 24px;
}
.item{
  display: flex;
  padding-right: 6%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.title{
  flex-grow:2;
  margin-left: 20px;
}
